In [9]:
import numpy as np
import pandas as pd

In [15]:
df = pd.DataFrame(np.random.rand(4,3) , columns=list('abc'))
df['d'] = np.random.rand(4)

In [16]:
df

          a         b         c         d
0  0.913377  0.907324  0.896667  0.820460
1  0.789854  0.201446  0.915340  0.565512
2  0.767774  0.463281  0.089911  0.705042
3  0.803870  0.994662  0.902881  0.792017

In [23]:
df.loc[:, ['a', 'b']]

          a         b
0  0.913377  0.907324
1  0.789854  0.201446
2  0.767774  0.463281
3  0.803870  0.994662

In [25]:
df[['a' ,'b', 'c']]

          a         b         c
0  0.913377  0.907324  0.896667
1  0.789854  0.201446  0.915340
2  0.767774  0.463281  0.089911
3  0.803870  0.994662  0.902881

In [26]:
df1 = pd.DataFrame(np.random.randn(6, 4),
   index=list('abcdef'),
   columns=list('ABCD'))

In [29]:
from IPython.display import display
display(df1.loc['a'])
display(df1)

A   -1.142540
B   -1.548688
C    1.505674
D   -0.577400
Name: a, dtype: float64

          A         B         C         D
a -1.142540 -1.548688  1.505674 -0.577400
b  1.727699  0.386255  0.579730  0.572344
c -1.537985 -0.154788 -0.804226 -0.210046
d -0.438126  0.838133  1.197404  1.276932
e -1.399026  0.827964 -0.687396  0.071930
f  0.991673  0.930323 -1.875889  0.847781

In [30]:
df1.loc['a'] > 0

A    False
B    False
C     True
D    False
Name: a, dtype: bool

In [31]:
df1.loc[:, df1.loc['a'] > 0]

          C
a  1.505674
b  0.579730
c -0.804226
d  1.197404
e -0.687396
f -1.875889

In [32]:
df1

          A         B         C         D
a -1.142540 -1.548688  1.505674 -0.577400
b  1.727699  0.386255  0.579730  0.572344
c -1.537985 -0.154788 -0.804226 -0.210046
d -0.438126  0.838133  1.197404  1.276932
e -1.399026  0.827964 -0.687396  0.071930
f  0.991673  0.930323 -1.875889  0.847781

In [36]:
df1.reindex(range(1,7))

          A         B         C         D
a -1.142540 -1.548688  1.505674 -0.577400
b  1.727699  0.386255  0.579730  0.572344
c -1.537985 -0.154788 -0.804226 -0.210046
d -0.438126  0.838133  1.197404  1.276932
e -1.399026  0.827964 -0.687396  0.071930
f  0.991673  0.930323 -1.875889  0.847781

In [38]:
s = pd.Series(np.arange(4), index=['a', 'a', 'b', 'c'])
s

a    0
a    1
b    2
c    3
dtype: int32

In [39]:
labels = ['c', 'd']
print(s.index.intersection(labels))
display(s.loc[s.index.intersection(labels)])

Index(['c'], dtype='object')

c    3
dtype: int32

In [40]:
s.loc[s.index.intersection(labels)].reindex(labels)

c    3.0
d    NaN
dtype: float64

In [47]:
labels = ['a', 'd']
print(s.index.intersection(labels))
s.loc[['a']]

Index(['a', 'a'], dtype='object')

a    0
a    1
dtype: int32

In [55]:
df.where(df['a'] < 0.8)

          a         b         c         d
0       NaN       NaN       NaN       NaN
1  0.789854  0.201446  0.915340  0.565512
2  0.767774  0.463281  0.089911  0.705042
3       NaN       NaN       NaN       NaN

In [58]:
display(df)
df.mask(df > 0.5)

          a         b         c         d
0  0.913377  0.907324  0.896667  0.820460
1  0.789854  0.201446  0.915340  0.565512
2  0.767774  0.463281  0.089911  0.705042
3  0.803870  0.994662  0.902881  0.792017

    a         b         c   d
0 NaN       NaN       NaN NaN
1 NaN  0.201446       NaN NaN
2 NaN  0.463281  0.089911 NaN
3 NaN       NaN       NaN NaN

In [59]:
pd.Index(['e', 'd', 'a', 'b'], name='something')

Index(['e', 'd', 'a', 'b'], dtype='object', name='something')

In [73]:
df = pd.DataFrame(np.random.rand(10,3) , columns=list('abc'))
df['e'] = np.random.choice(['yes', 'no', 'maybe'], len(df))

In [74]:
df

          a         b         c      e
0  0.518893  0.010913  0.459636     no
1  0.205432  0.253256  0.203202    yes
2  0.045860  0.946578  0.245792     no
3  0.490771  0.483829  0.096555    yes
4  0.329210  0.305686  0.980317  maybe
5  0.359250  0.437244  0.481653     no
6  0.354088  0.495259  0.930205  maybe
7  0.073290  0.767473  0.391031  maybe
8  0.379967  0.829927  0.454476     no
9  0.087333  0.340767  0.689861     no

In [86]:
df['f'] = np.random.choice(['bar', 'foo', 'baz'], len(df))
df.set_index(['e', 'f', df.index]).sort_index()

                    a         b         c
e     f
maybe bar 6  0.354088  0.495259  0.930205
          7  0.073290  0.767473  0.391031
      baz 4  0.329210  0.305686  0.980317
no    bar 2  0.045860  0.946578  0.245792
          5  0.359250  0.437244  0.481653
      baz 8  0.379967  0.829927  0.454476
          9  0.087333  0.340767  0.689861
      foo 0  0.518893  0.010913  0.459636
yes   bar 3  0.490771  0.483829  0.096555
      foo 1  0.205432  0.253256  0.203202

In [83]:
df.groupby(['e', 'f']).mean()

                  a         b         c
e     f
maybe bar  0.354088  0.495259  0.930205
      baz  0.329210  0.305686  0.980317
      foo  0.073290  0.767473  0.391031
no    bar  0.223292  0.389005  0.585757
      baz  0.212914  0.888252  0.350134
      foo  0.518893  0.010913  0.459636
yes   bar  0.205432  0.253256  0.203202
      foo  0.490771  0.483829  0.096555

In [88]:
df.set_index('f', drop=False)

            a         b         c      e    f
f
foo  0.518893  0.010913  0.459636     no  foo
foo  0.205432  0.253256  0.203202    yes  foo
bar  0.045860  0.946578  0.245792     no  bar
bar  0.490771  0.483829  0.096555    yes  bar
baz  0.329210  0.305686  0.980317  maybe  baz
bar  0.359250  0.437244  0.481653     no  bar
bar  0.354088  0.495259  0.930205  maybe  bar
bar  0.073290  0.767473  0.391031  maybe  bar
baz  0.379967  0.829927  0.454476     no  baz
baz  0.087333  0.340767  0.689861     no  baz